#table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

#table thead th {
    background-color: #860697;
    color: #ffffff;
    text-align: center;
}

#table thead th,
#table tr td {
    padding: 12px 15px;
}

#table tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

#table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table tr:last-of-type {
    border-bottom: 2px solid #b80bb8;
}

#locationText {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#getTimesButton {
  appearance: none;
  background-color: #8a09a3;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#getTimesButton:hover {
  background-color: #550964;
}